.card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.bottom-button div:hover{
    cursor: pointer;
}

.bottom-button div{
    background-color: #000000;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-button div a{
    color: aliceblue;
    text-align: center;
    font-weight: 700;
}